.cardCompleteSet{
  & fieldset {
    border: none;
    padding: 5px 0 10px 0;
    margin: 0;
  }

  & button {
    display: block;
    max-width: 140px;
    text-align: left;
    font-size: 12px;
    min-height: 35px;
    flex: 1;
    align-self: stretch;
  }
}

.kitsList {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}